{:lint-as {io.pedestal.http.route/defroutes clojure.core/def}

 :linters
 {:namespace-name-mismatch {:level :warning}
  :unused-private-var      {:level :error}
  :unused-binding          {:level :error
                            :exclude-destructured-as-default true}}

 :config-in-ns
 {step-definitions.steps
  {:linters {:unused-binding {:level :off}
             :unresolved-symbol {:level :off}}}
  step-definitions.common
  {:linters {:unused-binding {:level :off}}}}}
